{
  "extends":  [
  "standard",
  "standard-flow",
  "standard-jsx"
  ],
  "rules":{
    "space-before-function-paren": 0,
    "comma-dangle":0,
    "jsx-quotes":0
  },
  "env":{
    "jest": true
  }
}
