{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jest",
    "@typescript-eslint",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-var-requires": 0,
    "no-unused-vars": 0,
    "import/no-dynamic-require": 0,
    "no-console": 0,
    "global-require": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0,
    "@typescript-eslint/type-annotation-spacing": 0,
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "react/prop-types": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/indent": 0,
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true
      }
    ],
    "prettier/semi": 0,
    "space-before-function-paren": 0,
    "comma-dangle": 0,
    "jsx-quotes": 0,
    "react/jsx-filename-extension": "off",
    "import/extensions": "off"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true,
    "jest/globals": true
  },
  "globals": {
    "fetch": true,
    "navigator": true,
    "__DEV__": true,
    "XMLHttpRequest": true,
    "React$Element": true,
    "Generator": true
  }
}