language: node_js
node_js:
  - "7"
  - "8"
script:
  - yarn test
  - yarn docs:build
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master