environment:
  matrix:
    - nodejs_version: '10'
    - nodejs_version: '14'
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install --global npm@latest
  - set PATH=%APPDATA%\npm;%PATH%
  - npm install
  - npm install -g yarn
matrix:
  fast_finish: true
build: off
shallow_clone: true
test_script:
  - node --version
  - yarn --version
  - yarn test:win32
  - yarn hygen
  - yarn hygen init self
cache:
  - '%APPDATA%\npm-cache'
